<footer class="pt-5 pb-4 border-top">
  <div class="container">
    <div class="row text-center footer-links mb-4">
      <div class="col"><a href="#" class="text-dark">TERMS OF USE</a></div>
      <div class="col"><a href="https://t.me/ckemfort" class="text-dark">STUDENTS CONTACT</a></div>
      <div class="col"><a href="#" class="text-dark">ABOUT THE PROJECT</a></div>
    </div>

    <p class="text-muted small text-center mb-0">
      © Denis Kuberlinov - Darmstadt University of Applied Sciences
    </p>
      <p class="text-muted small text-center mb-0">
     Media department - Information Science study program, as part of the “Project Web Development” module
    </p>
      <p class="text-muted small text-center mb-0">Content is for informational purposes only
    </p>
  </div>
</footer>
